<!-- global/partials/sidebar.html -->
<aside
  id="rdSidebar"
  class="fixed top-16 left-0 z-40 h-[calc(100vh-4rem)] w-64 bg-base-100 border-r
         overflow-y-auto transition-transform duration-200
         -translate-x-full lg:translate-x-0 text-base-content"
  aria-label="Menu lateral"
>
  <nav class="flex h-full flex-col">
    <ul class="menu px-2 py-3 gap-1 flex-1">
      <li class="menu-title"><span class="label">Menu</span></li>

      <li>
        <a href="{% url 'inventory:item-list' %}" class="flex items-center tooltip tooltip-right" data-tip="Itens">
          <i data-lucide="boxes" class="icon w-5 h-5 shrink-0 mr-2"></i>
          <span class="label">Itens</span>
        </a>
      </li>

      <li>
        <a href="{% url 'movements:movement-list' %}" class="flex items-center tooltip tooltip-right" data-tip="Movimentações">
          <i data-lucide="arrow-left-right" class="icon w-5 h-5 shrink-0 mr-2"></i>
          <span class="label">Movimentações</span>
        </a>
      </li>

      <li class="menu-title"><span class="label">Relatórios</span></li>

      <li>
        <details>
          <summary class="flex items-center cursor-pointer">
            <i data-lucide="line-chart" class="icon w-5 h-5 shrink-0 mr-2"></i>
            <span class="label">Dashboards</span>
          </summary>
          <ul>
            <li>
              <a href="#" class="flex items-center tooltip tooltip-right" data-tip="Visão geral">
                <span class="label">Visão geral</span>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center tooltip tooltip-right" data-tip="Consumo mensal">
                <span class="label">Consumo mensal</span>
              </a>
            </li>
          </ul>
        </details>
      </li>

      <li class="menu-title"><span class="label">Sua conta</span></li>

      <li>
        <a href="#" class="flex items-center tooltip tooltip-right" data-tip="Dashboard">
          <i data-lucide="user" class="icon w-5 h-5 shrink-0 mr-2"></i>
          <span class="label">Dashboard</span>
        </a>
      </li>
    </ul>

    <div class="px-3 py-3 border-t text-xs text-base-content/60">
      <span class="label">v1.0 • RDTrackr</span>
    </div>
  </nav>
</aside>
